[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]


[packages]
Flask = {version = "~=2.0.1", extras = ["async"]}
PyBluez = "~=0.23"

[dev-packages]

[requires]
python_version = "3.9"
